h1 {
    padding-top: 1em;
    font-size: 2em;
    color: black;
}

h4 {
    padding-top: 1em;
    border-bottom: 1px solid #666;
    color: black;
}

body {
    color: #444;
}

.alert-danger {
    padding: 1em;
}

#actions div, #actions kbd {
    margin-left: 1em;
}

#actions h5 {
    padding-top: 1em;
}
