#bugzilla-triage-helper {
    position: fixed;
    top: 4em;
    right: 1em;
    width: 11em;
    height: 19.3em;
    border: 1px solid lightgrey;
    padding: 0.5em;
    z-index: 1000;
    background: white;
    box-shadow: .4em .4em .4em lightgrey;
}

#bugzilla-triage-helper img {
    position: fixed;
    top: 3.8em;
    right: 0.3em;
    z-index: 1001;
    height: 22px;
    width: 22px;
    border: none;
}

#bugzilla-triage-helper div.action {
    padding-bottom: .4rem;
    display: block;
}

#bugzilla-triage-helper div.action a {
    padding: .2rem .4rem;
    color: #fff;
    background-color: #212529;
    border-radius: .2rem 0 0 .2rem;
    width: 5.17rem;
    display: inline-block;
    text-decoration: none;
}

#bugzilla-triage-helper div.action a:hover {
    background-color: firebrick;
}

#bugzilla-triage-helper div.action span {
    border-radius: 0 .2rem .2rem 0;
    color: grey;
    background-color: lightgrey;
    padding: .2rem .4rem;
    margin-top: 0;
    display: inline-block;
}

#bugzilla-triage-helper .auto-commit-on {
    color: white;
    background: green;
    font-weight: bold;
    padding-left: .2rem;
    padding-right: .2rem;
}
