#bugzilla-triage-helper {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 10em;
    height: 15em;
    border: 1px solid lightgrey;
    padding: 1em;
    z-index: 1000;
    background: white;
    box-shadow: .4em .4em .4em lightgrey;
}

#bugzilla-triage-helper img {
    position: fixed;
    top: 0.8em;
    right: 0.3em;
    z-index: 1001;
    height: 16px;
    width: 16px;
    border: none;
}

#bugzilla-triage-helper a {
    display: block;
    color: white;
    font-weight: bold;
    padding: 0.3em;
    margin-bottom: 0.2em;
    text-transform: lowercase;
    background: grey;
}

#bugzilla-triage-helper a.action-blocker {
    background: firebrick;
}
